<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %} /* Temporary styles for navbar
        	#navbar ul {
        		list-style-type:none;
        		margin: 0;
        		padding: 10;
        		text-align: center;
        	}
        	
        	#navbar ul li {
        		display: inline;
        	}
        	
        	#navbar ul li a {
        		text-decoration: none;
        	}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
        	<div id="navbar">
        		<ul>
        			<li><a href="#">Home</a></li>
        			<li><a href="#">About</a></li>
        			<li><a href="#">Help</a></li>
        		</ul>
        	</div>
        {% endblock %}
        
        /* script */
        {% block javascripts %}
        
        {% endblock %}
    </body>
</html>
