{% extends "UserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% include "UserBundle:Profile:show_content.html.twig" %}
<a href="{{ path('fos_user_change_password') }}">
  {{ 'Change password' }}
</a>
<br>
<a href="{{ path('fos_user_profile_edit') }}">
  {{ 'Edit profile' }}
</a>
<br>
{% endblock fos_user_content %}
