{% extends '::base.html.twig' %}

{% block title %}Your published jobs{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets '@AcmeWorkBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block body %}
  <h1>Your published jobs</h1>
  {% for job in jobs %}
    <a href="{{ path('work_showJob', { 'id': job.id }) }}">job {{ job.id }}</a>
    <br>
  {% endfor %}
{% endblock %}