/* Main stylesheet file for svtt-symf */

/* Navigation bar */
#navbar ul
{
	list-style-type: none;
	margin: 0;
	padding: 10;
	text-align: center;
}

#navbar ul li
{
	display: inline;
}

#navbar ul li a
{
	text-decoration: none;
	padding: .2em 1em;
}
